@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-share-tech-mono);
  --font-mono: var(--font-share-tech-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-share-tech-mono);
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes floatOne {
  0%,
  100% {
    transform: translateY(0px) translateX(0px);
  }
  50% {
    transform: translateY(30px) translateX(20px);
  }
}

@keyframes floatTwo {
  0%,
  100% {
    transform: translateY(0px) translateX(0px);
  }
  50% {
    transform: translateY(-25px) translateX(-15px);
  }
}

.animate-gradientMove {
  animation: gradientMove 12s ease infinite;
}

.animate-floatOne {
  animation: floatOne 10s ease-in-out infinite;
}

.animate-floatTwo {
  animation: floatTwo 12s ease-in-out infinite;
}